<html xmlns:th="http://www.thymeleaf.org">

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body th:object="${person}">
<h1 th:text="${result}"/>

<h1 th:inline="text">This is your persons: [[${result}]] </h1>
<h1 th:inline="none">This is your persons(don't work): [[${result}]] </h1>

<h2>[[*{firstName}]]</h2>
<h2>[[${person.firstName}]]</h2>

<a th:href="@{/person/getAll}">All persons</a>

<h1 th:each="p : ${result}">
    <h5 th:text="${p}"/>
    <h5>---------------</h5>
</h1>

<h1 th:text="#{}"/>2

</body>
</html>